DATABASE_URL=postgresql://username:password@localhost:5432/kiaspire

JWT_SECRET=mxxxxxxxxxx1xxx3
JWT_EXPIRE=7d

ADMIN_NAME=Super Admin
ADMIN_EMAIL=xxxxxx@gmail.com
ADMIN_PHONE=9876543210
ADMIN_PASSWORD=kyu@123
